/* Move down content because we have a fixed navbar that is 50px tall */

        .headerstyle {
            background-color: #428bca; /* Color cabecero */
            /*background-image: url(../../App_Images/sort_none.gif);*/
            background-repeat: no-repeat;
            background-position: center left;     
             color:#337ab7;
            /*padding-left: 20px;*/
        }  
        .headerstyle a{
	        text-decoration:none;
            color: White;/*Black*/
	        display:block;
            font-size:medium;
        }

        .updateProgressMessage
        {
            z-index: 99999999;
            font-family: Tahoma, Helvetica, sans-serif;
            font-size:12px; 
	        z-index: 1;
        }
        .contCenter
        {
            z-index: 99999999;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .previous{
            background:transparent url(../Images/previous.gif) no-repeat scroll center;
            height:1.3em;
            width:16px;
        }
        .next{
            background:transparent url(../Images/next.gif) no-repeat scroll center;
            height:1.3em;
            width:16px;
        }

        .btnCenter{
            position:relative;
            text-align: right;
            margin-top: 10%;
        }

        .modalBackground
        {
            background-color: Gray;
        /*    filter: alpha(opacity=70);
            opacity: 0.7; */
            filter: alpha(opacity=60);
            opacity: 0.6;
        }
        ._ModalPopup
        {
            background-color: White;
            border-width: 3px;
            border-style: solid;
            border-color: Gray;
            padding: 3px;
            z-index: 4000 !important;
        }

        .modalBackgroundMessage
        {
            z-index: 888888 !important;
	        background-color:Gray;
	        filter:alpha(opacity=70);
	        opacity:0.7;
        }

        ._Mensaje
        {
            width: auto;
            height: auto;
            padding: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            z-index: 999999 !important;
        }

        .messagealert {
            width: 100%;
            position: fixed;
             top:0px;
            z-index: 100000;
            padding: 0;
            font-size: 15px;
        }

        .imagenSite{
           height: 20%;
           width: 20% ;
           text-align: center;
        }